[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.laba16
Exec=/usr/bin/ru.template.laba16
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=RemovableMedia;UserDirs
OrganizationName=ru.template
ApplicationName=laba16
ExecDBus=/usr/bin/ru.template.laba16
