[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.laba14
Exec=/usr/bin/ru.template.laba14
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=RemovableMedia;UserDirs
OrganizationName=ru.template
ApplicationName=laba14
ExecDBus=/usr/bin/ru.template.laba14
