[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.lr12
Exec=/usr/bin/ru.template.lr12
Name=Template
Name[ru]=ЛР12

[X-Application]
Permissions=Audio;MediaIndexing;Music
OrganizationName=ru.template
ApplicationName=lr12
ExecDBus=/usr/bin/ru.template.lr12
